%body
  .container-fluid
    .row
      .col-md-3
        = render 'shared/navbar'
      .col-md-9
        = render 'shared/header'
        = render 'shared/nav_pagination'
        = render 'shared/logs'
        = render 'shared/pagination'
